/AvailabilityFanoutSvcApi/.vs
/AvailabilityFanoutSvcApi/obj
/AvailabilityFanoutSvcApi/bin
/AvailabilityFanoutSvcApi/Properties/PublishProfiles
/AvailabilityFanoutSvcApi/Properties/ServiceDependencies
